body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-sidebar {
  max-width: 530px; 
  padding: 20px;
  /* max-width: 450px; */
}

.col .card {
  width: 147px;
}

.fc-event {
  height: 14px;
}

.fc-event-title {
  margin-top: -4px;
  font-size: 12px;
  font-weight: 700;
}


/* Bootstrap  */
.col {
  flex: 1 0 0;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
} 
  
/* * {
  box-sizing: border-box;
} */
