body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cal-app-main {
  padding-top: 25px;
}

.app-sidebar {
  min-width: 325px;
  max-width: 395px; /* 450px; 530px;  depends on card width */
  padding: 25px 0px 20px 20px;
}

.col .card {
  width: 115px;  /* smaller for smaller .app-sidebar */
}

.card-body {
  padding: 6px 10px 10px 10px;
}

.fc {
  max-width: 1500px;
  margin: 0 auto;
}

.fc-event {
  margin-top: -4px;
  font-size: 12px;
  /* font-weight: 600; */
}

/* .fc-event {
  height: 14px;
}

.fc-event-title {
  margin-top: -4px;
  font-size: 12px;
  font-weight: 700;
} */


/* Bootstrap  */
.col {
  flex: 1 0 0;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .2); 
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
} 
  
/* * {
  box-sizing: border-box;
} */




.btn-link {
  text-decoration: none;
  border-color: #0000;
  background-color: #0000;
  padding: 0px;
  border: 0px;
}

.flt-right {
  float: right;
}

.nb-height {
  min-height: 80px;
}